<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/authstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form id="login" action="/auth" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input name="name" type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input name="password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button id="login-btn" type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="/signup">Register</a></p>
            </div>
        </form>
        <script>

            document.addEventListener("DOMContentLoaded", function(event) {
                document.body.classList.add("fade-in");
            });
            const loginForm = document.getElementById("login"); // Select the form using its ID
            loginForm.addEventListener('submit', async (event) => {
                event.preventDefault(); // Prevent default form submission
                const formData = new FormData(loginForm); // Create FormData object from the form
                fetch('/auth', { // Fetch API request to '/auth' endpoint
                    method: 'POST',
                    body: formData,
                }).then((response)=> response.json())
                .then((data) => {
                    if (data.success) {
                        loginbtn = document.getElementById('login-btn');
                        loginbtn.textContent= "Logging in";
                        loginbtn.style.animation = "shake 0.5s ease-in-out";
                        loginbtn.style.backgroundColor="green";
                        setTimeout(()=>{
                            loginbtn.textContent="Success";
                            setTimeout(()=>{
                                window.location.href = "/home"},1500);
                                },500)
                        
                    }
                    else{  
                        loginbtn = document.getElementById('login-btn');
                        loginbtn.textContent= data.message;
                        loginbtn.style.animation = "shake 0.5s ease-in-out";
                        loginbtn.style.backgroundColor="red";
                        setTimeout(()=>{
                            loginbtn.style.backgroundColor="wheat";
                            loginbtn.style.animation = 'none';
                            loginbtn.offsetHeight;
                            loginbtn.textContent="Login";
                        },2000);

                    }
                }).catch((err) => {
                    console.error(err)
                })
            });

        </script>
    </div>
</body>

</html>