<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment Booking</title>
    <link rel="stylesheet" href="/css/bookstyle.css">
</head>
<body>
    <div class="container">
    <h1>Treatment Booking</h1>
    <form id="booking-form" method="post" enctype="multipart/form-data">
        <div>
            <label for="treatment">Choose Treatment:</label>
            <select id="treatment" name="treatment" required>
                <option value="" disabled selected>Select Treatment</option>
                <option value="Abhyanga">Abhyanga</option>
                <option value="Shirodhara">Shirodhara</option>
                <option value="Panchakarma">Panchakarma</option>
                <option value="Udwarthanam">Udwarthanam</option>
                <option value="Nasya">Nasya</option>
                <option value="Shiro Abhyanga">Shiro Abhyanga</option>
            </select>

            <label for="dateandtime" id="date-time" class="format">SELECT DATE AND TIME </label>
            <input onchange="handleDate(event)" type="date" id="date" name="date" class="dtt" required min="<?php echo date('Y-m-d'); ?>">
            <input onchange="handleTime(event)" type="time" id="time" name="utime" min="08:00" max="20:00" value="08:00" class="dtt" required>

        </div>
        <button id="post" type="button" onclick="submitpost()">Submit</button>
    </form>
    <div id="message"></div>
    </div>
    <script>


        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });


        const handleDate = (eve) => {
        const date = new Date()
        const input = new Date(eve.target.value)
        if (input >= date) {
            console.log("the date is valid")
        } else {
            alert("Please select a future date.")
            eve.target.value = ''; 
        }
      }

      function handleTime(event) {
         const timeInput = event.target;
         const enteredTime = timeInput.value;
         const minTime = timeInput.getAttribute('min');
         const maxTime = timeInput.getAttribute('max');

         if (enteredTime < minTime || enteredTime > maxTime) {
            alert('Please enter a time between ' + minTime + ' and ' + maxTime);
            timeInput.value = ''; // Clear the input value
            event.preventDefault(); // Prevent form submission
         }
      }
        

        function submitpost(){
            var form = document.getElementById("booking-form");
            const formData = new FormData(form);
            date = formData.get('date');
            time = formData.get('utime');

            option = document.getElementById("treatment").value;

            if(date!='' && time && option){
                fetch("/booktreatment",
                    {
                        method : 'POST',
                        body: formData
                    }
                ).then(response => response.json())
                .then(data=>{
                    if(data.success){
                        submitbtn = document.getElementById("post");
                        submitbtn.textContent = "Submitted";
                        submitbtn.style.animation = "shake 0.5s ease-in-out";
                        submitbtn.style.backgroundColor = "green";
                        setTimeout(()=>{
                            submitbtn.textContent = "Going Home";
                            setTimeout(()=>{
                                window.location.href="/home"    
                            },500);
                        },1000);
                    }
                })
            } 
            else{
                submitbtn = document.getElementById("post");
                submitbtn.textContent = "Invalid Data";
                submitbtn.style.animation = "shake 0.5s ease-in-out";
                submitbtn.style.backgroundColor = "red";
                setTimeout(()=>{
                    submitbtn.style.backgroundColor = "rgba(0,0,0,0.3)";
                    submitbtn.style.animation = "none";
                    submitbtn.offsetHeight;
                    submitbtn.textContent = "Submit"
                },2000)
            }

        }
       
    </script>

</body>
</html>
