<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="Geethu">
   <title>Book Appointment</title>
   <link rel="icon" href="/static/ico.ico" type="image/x-icon">
   <link rel="stylesheet" href="/css/appostyle.css">
   <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <style>
      @keyframes shake {
         0% { transform: translateX(0); }
         25% { transform: translateX(-5px); }
         50% { transform: translateX(5px); }
         75% { transform: translateX(-5px); }
         100% { transform: translateX(0); }
      }


   </style>

</head>

<body>
   <main class="cd__main">
      <main id="wrapper">
         <div class="container">
            
         </div>
         <div class="container">

         </div>
         <div class="container">

         </div>
      </main>
   </main>
   <script>

      document.addEventListener("DOMContentLoaded", function(event) {
         document.body.classList.add("fade-in");
      });
     
   </script>

</body>

</html>