<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="Geethu">
   <title> Appointment form UI Example </title>
   <link rel="stylesheet" href="/css/appostyle.css">
   <link rel="stylesheet" href="./css/demo.css">
   <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <style>
      #form-head {
         border: none !important;
      }

      #form-head:focus {
         border: none !important;
      }
   </style>
   <script>
      window.onload = function () {
         // Get the search parameters from the URL
         var searchParams = new URLSearchParams(window.location.search);

         // Check if the parameter exists
         if (searchParams.has('parameter')) {
            // Get the value of the parameter
            var parameterValue = searchParams.get('parameter');
            // Display the value
            //alert("Parameter value: " + parameterValue);
         } else {
            alert("Parameter not found");
         }
         var name = localStorage.getItem('parameter')
         document.getElementById('form-head').value = name;
      };

      function successMsg() {
         phone = document.getElementById('mobile').value;
         email = document.getElementById('email').value;
         
         if(phone.length==10 && email.includes('@') && email.includes('.')){

            alert("Submitted");
            document.getElementById("login").submit();
         }
         
      }

      const handleDate = (eve) => {
        const date = new Date()
        const input = new Date(eve.target.value)
        if (input >= date) {
            console.log("the date is valid")
        } else {
            alert("Please select a future date.")
            eve.target.value = ''; 
        }
      }
   </script>

</head>

<body>
   <main class="cd__main">
      <main id="wrapper">
         <div class="container">
            <form id="login" action="/doctorsappo" id="appoint-form" method="POST">
               <input id="form-head" style="text-align: center;" readonly />
               <label for="select city" id="city" class="format">Type of appointment </label>
               <select id="dropdown">
                  <option value="select your city" disabled selected>Select Your Appointment type </option>
                  <option value="bhadrak">Phone call </option>
               </select>
               <label for="dateandtime" id="date-time" class="format">SELECT DATE AND TIME </label>
               <input onchange="handleDate(event)" type="date" id="date" name="date" class="dtt" required min="<?php echo date('Y-m-d'); ?>">
               <input onchange="handleTime(event)" type="time" id="time" name="utime" min="08:00" max="20:00" value="08:00" class="dtt" required>

               <small id="note">(Note:Visiting hours are 8am to 8pm)</small>
               <br>
               <br>

               <label for="personal details" id="p-details" class="format">PERSONAL DETAILS</label>
               <input type="text" id="name" class="person-detail" placeholder="Full name*" name="uname" maxlength="20"
                  required>
               <input type="tel" id="mobile" class="person-detail" name="ucontact" placeholder="Mobile number*" minlength="10"
                  maxlength="10" required>
               <input type="email" placeholder="Email(optional)" id="email" class="person-detail" name="uemail"
                  required>
               <textarea id="message" name="umessage" rows="5" cols="3" placeholder="Type text message"
                  class="person-detail"></textarea>
               <button  id="submitpost"  onclick="successMsg()">Submit</button>
            </form>
         </div>
      </main>
   </main>
   <footer class="cd__credit">Author: Geethu - Distributed By: </footer>
   <script>
     
      const handleTime = (eve) => {

      }
   </script>

</body>

</html>