<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayurvedic Online Consultation</title>
    <link rel="stylesheet" href="/css/homestyle.css">

    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>

    <header class="header">
        <a href="#" class="logo"><i class='bx bx-spa'></i>Ayurconnect</a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="" class="home-active">Home</a></li>
            <li><a href="/ourdoctors">Our Doctors</a></li>
            <li><a href="/ayurvedatreatments">Ayurveda Treatment</a> </a></li>
            <li><a href="/ayurvedicproducts">Ayurvedic Products</a></li>

        </ul>

        <div class="profile">
            <img src="/static/profile.jpg" alt="" >
            <span><%=user %></span> 
            <i class='bx bx-caret-down' >
                
            </i>
        </div>

        <div><button id="logout" onclick="logout">Logout</button></div>
    </header>

    <section class="Home" id="Home">
        <div class="container">
        <div class="home-text">
            <h1>AYURVEDA</h1>
            <h2>Ancient Wisdom, Modern Science</h2>
            <h3>Embracing the traditional wisdom of Ayurveda to carefully curate <p> the right treatments that promotes physical and mental well-being</p></h3>
           
        </div>
        </div>

    </section>

    <section class="ourdoctors" id="ourdoctors">
        <div class="heading">
            <h1>Experts Consultancy <br>
                <span>It’s never been easier to connect with Free Online Ayurvedic Consultation Kerala from certified Ayurveda doctors and practitioners of best Ayurveda treatment center in Kerala.Authentic and highly quality committed Ayurveda health care, the doctors at Ayurwakeup are highly professional and passionate. We provides best ayurvedic treatments for Psoriasis, Arthritis, Weight loss, Insomnia, Digestive disorder and Ayurvedic rejuvenation and detoxification packages. Free
                     Consult our most- trusted and experienced Ayurvedic doctors for your better health and well-being.</h1>
            
            <a href="/ourdoctors" class="btn">Book Now<i class='bx bxs-right-arrow-circle'></i></a>
         </div>
         <div class="ourdoctors-pic">
            <div class="picc">
                <img src="/static/doc.png" alt="">
            </div>
         </div>
    </section>

    <section class="ayurvedatreatments" id="ayurvedatreatments">
        <div class="heading">
            <h1>Ayurveda Treatments <br><span>Immerse yourself in the scientific realm of Ayurveda with Ayurconnect . Discover the ultimate rejuvenation - a harmonious revival of body, mind, and spirit - at the finest Ayurveda Clinic.</h1>
            <a href="/ayurvedatreatments" class="btn">Enquire Now<i class='bx bxs-right-arrow-circle'></i></a>
         </div>
         <div class="ayurvedictreatments-pic">
            <div class="pic1">
                <img src="/static/ayurvedic-treatment.png" alt="">
            </div>
         </div>


    </section>

    <section class="ayurvedicproducts" id="ayurvedicproducts">
        <div class="heading">
            <h1>Ayurvedic Products <br>
                <span>Ayurveda has a range of offerings that reach into the roots of health, beauty and well being.</h1>
            
            <a href="/ayurvedicproducts" class="btn">Order Now<i class='bx bxs-right-arrow-circle'></i></a>
         </div>
         <div class="ayurvedicproducts-pic">
            <div class="pic2">
                <img src="/static/p1.png" alt="">
            </div>
         </div>
    </section>
    <script>
        document.getElementById("logout").addEventListener("click",()=>{
            fetch('/logout').then((res)=>{
                if(res.ok){
                    window.location.href="/";
                }
            })
        });
    </script>
</body>
</html>