<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="icon" href="/static/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/paymentstyle.css">
</head>
<body>
    <div class="container">
    <h1>Payment</h1>
    <form method="post" action="/addbooking">
            <div class="col">
                <div class="inputBox">
                    <input type="text" placeholder="Address">
                </div>
                    <div class="inputBox">
                        <input type="text" placeholder="State">
                    </div>
                    <div class="inputBox">
                        <input type="text" placeholder="Pincode" minlength="6" maxlength="6">
                    </div>
                    <div class="inputBox">
                        <input type="number" placeholder="Card Details" minlength="16" maxlength="16">
                    </div>
            </div>


                
                <div class="inputBox">
                    <input type="text" placeholder="" readonly>
                </div>
                
                    
    
        

        <button type="button" class="submit-btn">Complete Payment</button>

    </form>
        
    <script>


        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });


        const handleDate = (eve) => {
        const date = new Date()
        const input = new Date(eve.target.value)
        if (input >= date) {
            console.log("the date is valid")
        } else {
            alert("Please select a future date.")
            eve.target.value = ''; 
        }
      }

      function handleTime(event) {
         const timeInput = event.target;
         const enteredTime = timeInput.value;
         const minTime = timeInput.getAttribute('min');
         const maxTime = timeInput.getAttribute('max');

         if (enteredTime < minTime || enteredTime > maxTime) {
            alert('Please enter a time between ' + minTime + ' and ' + maxTime);
            timeInput.value = ''; // Clear the input value
            event.preventDefault(); // Prevent form submission
         }
      }
        

        function submitpost(){
            var form = document.getElementById("booking-form");
            const formData = new FormData(form);
            date = formData.get('date');
            time = formData.get('utime');

            option = document.getElementById("treatment").value;

            if(date!='' && time && option){
                fetch("/booktreatment",
                    {
                        method : 'POST',
                        body: formData
                    }
                ).then(response => response.json())
                .then(data=>{
                    if(data.success){
                        submitbtn = document.getElementById("post");
                        submitbtn.textContent = "Submitted";
                        submitbtn.style.animation = "shake 0.5s ease-in-out";
                        submitbtn.style.backgroundColor = "green";
                        setTimeout(()=>{
                            submitbtn.textContent = "Going Home";
                            setTimeout(()=>{
                                window.location.href="/home"    
                            },500);
                        },1000);
                    }
                    else{
                     submitbtn = document.getElementById("post");
                     submitbtn.textContent = data.message;
                     submitbtn.style.animation = "shake 0.5s ease-in-out";
                     submitbtn.style.backgroundColor="red";
                     setTimeout(()=>{
                        submitbtn.textContent="Going Home";
                        setTimeout(()=>{
                           window.location.href="/home"
                        },500)
                     },1000)
                  }
                })
            } 
            else{
                submitbtn = document.getElementById("post");
                submitbtn.textContent = "Invalid Data";
                submitbtn.style.animation = "shake 0.5s ease-in-out";
                submitbtn.style.backgroundColor = "red";
                setTimeout(()=>{
                    submitbtn.style.backgroundColor = "rgba(0,0,0,0.3)";
                    submitbtn.style.animation = "none";
                    submitbtn.offsetHeight;
                    submitbtn.textContent = "Submit"
                },2000)
            }

        }
       
    </script>

</body>
</html>
