<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="icon" href="/static/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/paymentstyle.css">
</head>
<body>
    <div class="container">
    <h1>Payment</h1>
    <form method="post" action="/addbooking">
            <div class="col">
                <div class="inputBox">
                    <input id="address" type="text" placeholder="Address">
                </div>
                    <div id="state" class="inputBox">
                        <input type="text" placeholder="State">
                    </div>
                    <div id="pincode" class="inputBox">
                        <input type="text" placeholder="Pincode" minlength="6" maxlength="6">
                    </div>
                    <div id="card" class="inputBox">
                        <input type="text" placeholder="Card Details" minlength="16" maxlength="16">
                    </div>
            </div>


                
                <div class="inputBox">
                    <input id="prize" type="text" placeholder="" readonly>
                </div>
                
                    
    
        

        <button id="pay" type="button" class="submit-btn" onclick="submitpost()">Complete Payment</button>

    </form>
        
    <script>
        let pid = undefined;
        window.onload = function(){
            var searchParams = new URLSearchParams(window.location.search);
            if (searchParams.has('pid')){
                pid = searchParams.get('pid');
            }
            else{
                alert("Something went wrong");
                window.location.href="/";
            }
        }

        prize = parseInt(`<%= prize%>`);
        document.getElementById("prize").value = `Amount : Rs. ${prize}`;


        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });


        function removeNonAlpha(event) {
            event.target.value = event.target.value.replace(/[^a-zA-Z]/g, '');
        }

        document.getElementById("address").addEventListener("input", function(event) {
            removeNonAlpha(event);
        });
        document.getElementById("state").addEventListener("input", function(event){
            removeNonAlpha(event);
        })

        function removeNonNumeric(event) {
            event.target.value = event.target.value.replace(/\D/g, '');
        }

        document.getElementById("pincode").addEventListener("input", function(event) {
            removeNonNumeric(event);
        });

        document.getElementById("card").addEventListener("input", function(event) {
            removeNonNumeric(event);
        });

        function submitpost(){
            address = document.getElementById("address").value;
            state = document.getElementById("state").value;
            pincode = document.getElementById("pincode").value;
            card = document.getElementById("card").value;

            if(address && state && pincode && card){
                fetch("/booktreatment",
                    {
                        method : 'POST',
                        body: formData
                    }
                ).then(response => response.json())
                .then(data=>{
                    if(data.success){
                        submitbtn = document.getElementById("post");
                        submitbtn.textContent = "Submitted";
                        submitbtn.style.animation = "shake 0.5s ease-in-out";
                        submitbtn.style.backgroundColor = "green";
                        setTimeout(()=>{
                            submitbtn.textContent = "Going Home";
                            setTimeout(()=>{
                                window.location.href="/home"    
                            },500);
                        },1000);
                    }
                    else{
                     submitbtn = document.getElementById("post");
                     submitbtn.textContent = data.message;
                     submitbtn.style.animation = "shake 0.5s ease-in-out";
                     submitbtn.style.backgroundColor="red";
                     setTimeout(()=>{
                        submitbtn.textContent="Going Home";
                        setTimeout(()=>{
                           window.location.href="/home"
                        },500)
                     },1000)
                  }
                })
            } 
            else{
                submitbtn = document.getElementById("pay");
                submitbtn.textContent = "Invalid Data";
                submitbtn.style.animation = "shake 0.5s ease-in-out";
                submitbtn.style.backgroundColor = "red";
                setTimeout(()=>{
                    submitbtn.style.backgroundColor = "rgba(0,0,0,0.3)";
                    submitbtn.style.animation = "none";
                    submitbtn.offsetHeight;
                    submitbtn.textContent = "Complete Payment"
                },2000)
            }

        }
       
    </script>

</body>
</html>
