<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/authstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form id="register" action="/signup" method="post">
            <h1>Register</h1>
            <div class="input-box">
                <input name="fullname" type="text" placeholder="Full Name" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input name="name" type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input name="email" type="email" placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                <i class='bx bx-envelope'></i>
            </div>
            <div class="input-box">
                <input name="password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input name="phone" type="tel" placeholder="Phone" required minlength="10" maxlength="10">
                <i class='bx bx-phone'></i>
            </div>

            <button id="register-btn" type="submit" class="btn">Register</button>

            <div class="register-link">
                <p>Already have an account? <a href="/auth">Login</a></p>
            </div>
        </form>
        <script>
            var success ='<%= data.success %>';
            var message ='<%= data.message %>';
            registerbtn = document.getElementById('register-btn');
            if(success==0){
                registerbtn.textContent=message;
                setTimeout(()=>{
                    registerbtn.textContent="Register";
                },2000);
            }
            else if(success==1){
                registerbtn.textContent=message;
                setTimeout(()=>{
                    window.location.href="/auth";
                },2000);
            }
        </script>
    </div>
</body>

</html>