/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Reset styles */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Define colors */
:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #e07015;
    --light-orange-color: #db8f43;
    --text-color: #1a2428;
    --bg-color: #191010;
}

/* Section styles */
section {
    padding: 4.5rem 0 1.5rem;
    align-items: center;
}

/* Body styles */
body {
    color: wheat;
    background-image: url("/static/bb.jpg");
    background-size: cover ;
    background-attachment: fixed;
}


.stack-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: absolute; /* Position containers on top of each other */
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text horizontally */
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    margin: 20px auto; /* Center the container itself horizontally */
    backdrop-filter: blur(10px);
    border-radius: 40px;
    min-width: 800px;
    min-height: 600px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Style for the form container */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Style for each form row */
.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

/* Style for the form labels */
.formRow label {
    flex-basis: 30%; /* Adjust the width of the label */
    text-align: left;
}

/* Style for the form inputs */
.formRow input, .formRow textarea {
    flex-basis: 65%; /* Adjust the width of the input */
    padding: 5px;
}

/* Adjust button container */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 20px;
}


.containerHeading {
    margin-top: 0px;
    margin-bottom: 50px
}

.formSwitch {
    display: flex;
    justify-content: flex-start;
    margin: auto; 
}

.formSwitch button{
    margin-left: 10px;
}

.buttonContainer button {
    margin: auto;
}