* {@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/bb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper
{
    width: 420px;
    backdrop-filter: blur(10px);
    padding:50px;
    background-color: rgba(0,0,0,0.35);
    border-radius:50px
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: wheat;
    margin-bottom:20px;
    margin-left: 20px;;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
}
.wrapper .btn{
    margin-left:32px;
    width: 80%;
    height: 45px;
    background: wheat;
    border: black;
    outline: black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(3, 5, 5, -1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.wrapper .register-link{
    font-size: 20px;
}

input {
    margin-left: 32px;
    background: rgba(0,0,0,0);
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 30px;
    border-color:wheat;
    width: 80%;
}

p {
  color: wheat;
  margin-top: 20px;
}

.bx{
    color: wheat;
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


#register-btn{
    margin-left:40px;
    width: 80%;
}

#register input{
    width: 80%;
    margin-left: 32px;
}


#login-btn{
    transition: background-color 1s ease;
}


