/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Reset styles */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Define colors */
:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #e07015;
    --light-orange-color: #db8f43;
    --text-color: #1a2428;
    --bg-color: #191010;
}

/* Section styles */
section {
    padding: 4.5rem 0 1.5rem;
    align-items: center;
}

/* Body styles */
body {
    color: var(--bg-color);
}


/* Header styles */
header {
    position: sticky;
    backdrop-filter: blur(50px);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 8px 11px rgb(14, 55, 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

/* Profile styles */
.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    position: absolute;
    color: wheat;
    right: 190px;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
	right: 55px;
  	position: absolute;
}


.profile span {
    font-size: 13px;
    font-weight: 500;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: wheat;
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--green-color);
	margin-right: 3px;
}

a{
    color: wheat;
}

/* Content container styles */
.content {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color: wheat;
    min-height: 337px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    padding: 0 150px; /* Add padding */
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
}

.content:hover{
    transform: scale(1.1);
}

/* Content heading styles */
.content h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #c20b0b;
    font-size: larger;
    font-style: italic;
    align-items: center;
    margin-bottom: 20px; /* Add some spacing */
}

/* Content paragraph styles */
.content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Adjust text color */
}

/* Heading styles */
.heading {
    text-align: center; /* Center text */
    color: wheat;
}

/* Heading span styles */
.heading span {
    font-weight: 400;
    font-size: large;
    margin-right: auto;
    font-style: oblique;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.4);
    color: wheat;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out,transform 0.3s ease;
    margin: 10px;
    min-width: 150px;
}

.btn:hover {
    background-color: green;
    transform: scale(1.2);
}

.ourdoctors-pic img,
.ayurvedictreatments-pic img,
.ayurvedicproducts-pic img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    border-radius: 50px;
}

#logout{
    background: rgba(0,0,0,0.1);
    border: none;
    backdrop-filter: blur(1000px);
    padding: 10px;
    border-radius: 69px;
}

.navbar{
    display: inherit;
}

li {
  margin: 10px;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 7px;
}


.home-text {
    text-align: center;
}

body {
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.fade-in {
  opacity: 1; /* Make the body visible */
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

#logout{
    transition: background-color 0.3s ease;
}

#logout:hover{
    background-color: red;
    animation: shake 0.5s ease;
    
}


.prodlink{
    font-weight: bold;
    color: cornsilk;
}



html
{
	font-size: 62.5%;
	overflow-x:hidden;
	scroll-behavior: smooth;
	scroll-padding-top:7rem;
}


section
{
	padding:2rem 9%;

}

.heading
{
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
}
.heading span
{
	background: var(--green);
	color: #fff;
	display: inline-block;
	padding: .5rem 3rem;
	clip-path: polygon(100% 0,93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

}





section 
{
	padding: 2rem 9%;
}
.icons{
	display: flex;
	flex-direction: row;
}



.home
{
	border:0px solid;
	display:flex;
	justify-content: center;
	padding-top: 13rem;
	padding-bottom: 8rem;

}
.home .content
{
	border: 0px solid;
	text-align: center;
	width: 100rem;


}
.home .content h3
{
	color: var(--black);
	font-size: 3rem;

}

.home .content h3 span
{
	color: var(--green);
	

}
.home .content p
{
	color: var(--black);
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 1.8;

}

.features .box-container
{
	border: 0px solid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap:1.5rem;
}
.features .box-container .box
{
	padding: 3rem 2rem;
	background: rgba(0,0,0,0.3);
    border-radius: 40px;
    color: wheat;
    backdrop-filter: blur(10px);
	text-align: center;

}


.features .box-container .box img
{
	margin: 1rem 0;
	height: 10rem;
    border-radius: 20px;
}


.features .box-container .box h3
{
	font-size: 2.5rem;
	line-height: 1.8;
}


.products .product-slider
{
	border: 0px solid;
	padding: 1rem;

}
.products .product-slider:first-child
{
	margin-bottom: 2rem;

}
.products .product-slider .box
{
	background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
	border-radius: 40px;
	text-align: center;
	padding: 3rem 2rem;
    color: wheat;
    width: 50%;
    margin: auto;
	

}



h3{
    font-size: 14px;
}

.swiper-wrapper1{
    padding: 20px;
}


.products .product-slider .box img
{
	height: 20rem;

}
.products .product-slider .box h1
{
 font-size:2.5rem;
}

.products .product-slider .box .price 

{
font-size: 2rem;
padding: .5rem 0;

}
.products .product-slider .box .stars i

{
	font-size: 1.7rem;
	color: orange;
	padding: .5rem 0;

}


.box{
    transition: transform 0.3s ease-in-out;
}

.box:hover{
    transform: scale(1.1); 
}

section{
    transition: opacity 0.3s ease-in-out;
}