body {
    font-family: Arial, sans-serif;
    background-color: #b8ec77;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(233, 170, 36);
    color: black;
    padding: 20px 100px;
    text-align: center;
    box-shadow: 0 8px 11px rgb(14, 55, 54/ 15%);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: green;
}

.navigation {
    column-gap: 0.5rem;
    margin-top: 10px;
    
}

.navigation a {
font-size: 1rem;
    font-weight: 1000;
    color: #100e0e;
    text-decoration: none;
    padding: 0.5rem 1rem;

}


.navigation .treatment-button {
    background-color: green; /* Green color */
    padding: 10px 20px;
    border-radius: 5rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

.treatments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    color: #0c0a0a;
}

.treatment {
    background-color: #e7eae4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.treatment img {
    max-width: 100%;
    border-radius: 5px;
}

.treatment h3 {
    color: #0c0a0a;
    margin-top: 10px;
}

.treatment p {
    color: #110d0d;
}
.treatment-info h3,
.treatment-info p {
    color: #000; /* Black color */
}


.book-now {
    text-align: center;
    margin-top: 20px;
}

.book-now button {
    background-color: green; /* Green color */
    color: #181313;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
}

.book-now button:hover {
    background-color: #45a049; /* Darker green color on hover */
}


/* Your existing CSS styles */

.treatment-info {
    text-align: center;
}

.treatment-info img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.treatment-info h3 {
    color: #333;
    margin-top: 10px;
}

.treatment-info p {
    color: #666;
}

.header {
    background-image: url('im.png'); 
}

