<!DOCTYPE html>
<html>
<head>
    <title>Ayurconnect Store By Cyber Warriors</title>

<!--code for font awesome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--code for font awesome cdn -->

<!--code for linking css file -->
<link rel="stylesheet" type="text/css" href="css/style4.css">



<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

<!--code for linking css file -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- header section -->
<header class="header">
    <a href=""class="logo"><i class='bx bx-spa'></i>Ayurconnect</a>


  
    

<div class="icons">
<div class="fa fa-search" id="search-btn">
    
</div>
<div class="fa fa-shopping-cart" id="cart-btn"></div>

</div>

<form class="search-form">
    <input type="search" id="search-box" placeholder="Search Here...">
    <label for="search-box" class="fa fa-search"></label>
</form>




                
            
      







</header>









<section class="home" id="home">
    <div class="content">
        <h3>Experience healing with <span>Ayurveda</span></h3>
        <p> A Website For All Your Ayurvedic,Herbal,Natural,And Homemade Products is Live.</p>

        <a href="#" class="btn" >shop now </a>
    </div>
    
</section>



<section class="features" id="features">
    <h1 class="heading"> our <span> features</span> </h1>


    <div class="box-container">
        <div class="box">
            <img src="image/fea-133.png">
            <h3> natural and pure</h3>

        </div>


        <div class="box">
            <img src="image/fea-3.png">
            <h3> fast and free delivery</h3>
            
        </div>

        <div class="box">
            <img src="image/fea-2.png">
            <h3> easy payment</h3>
            
        </div>
    </div>
 </section>



 <section class="products" id="product">
    <h1 class="heading"> our main <span>products</span></h1>
    
    <div class="swiper product-slider">
        
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="image/cart-img-1.jpg">
                <h1>Ashwagandha</h1>


            <div class="price"> ₹200/-  -  ₹400/-</div>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
            <a href=""class="btn">Add to cart</a>
            </div>




              <div class="swiper-slide box">
                <img src="image/product-2.png">
                <h1>Abhayarist</h1>

            <div class="price"> ₹400/- -  ₹600/-</div>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
            <a href=""class="btn">Add to cart</a>
            </div>

              <div class="swiper-slide box">
                <img src="image/bb.png">
                <h1>Brahmi</h1>

            <div class="price"> ₹300/- -  ₹800/-</div>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
            <a href=""class="btn">Add to cart</a>
            </div>

        
        </div>
        <div class="swiper product-slider">
        
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="image/cart-img-1.jpg">
                    <h1>Ashwagandha</h1>
    
    
                <div class="price"> ₹200/-  -  ₹400/-</div>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <a href=""class="btn">Add to cart</a>
                </div>
    
    
    
    
                  <div class="swiper-slide box">
                    <img src="image/product-2.png">
                    <h1>Abhayarist</h1>
    
                <div class="price"> ₹400/- -  ₹600/-</div>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <a href=""class="btn">Add to cart</a>
                </div>
    
                  <div class="swiper-slide box">
                    <img src="image/bb.png">
                    <h1>Brahmi</h1>
    
                <div class="price"> ₹300/- -  ₹800/-</div>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <a href=""class="btn">Add to cart</a>
                </div>
    
            
            </div>






 </section>

</section>




<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</script>


<script src="javascript/script.js"></script>
</body>
</html>