<!DOCTYPE html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="style3.css" type="text/css">
</head>
<body>
    <div class="main">
        <h1>Registration-Form</h1>
        <form id="register" action="/signup" method="post">
            <label>Full Name:</label>
            <input name="name" type="text"  placeholder="Full Name">
            <label>User Name:</label>
            <input name="username" type="text" placeholder="User Name">
            <label>Email:</label>
            <input name="email" type="email" placeholder="Email" onblur="checkEmail(this.value)">
            <label>Password:</label>
            <input name="password" type="password"  placeholder="Password">
            <label>Phonenumber:</label>
            <input name="phone"  class="Phonenumber"  placeholder="PhoneNo:">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
<script>
    var data ='<%- JSON.stringify(data)';
    console.log("data is ",data);
    if (data.insertID){
        window.location.href="/home"
    }
    const checkEmail=(eve)=>{
        console.log(eve);
       alert();
    }


</script>
</html>